<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>出題中</title>
  <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script type="text/javascript">
      var socket;
      (function(){
          // socket通信が開始される
          socket = io.connect("http://localhost:3000");
          console.log("せつぞくかいし");
      })();
  </script>
</head>
<body>
    <%= user %> さんの出題ページ。<br>
    <p>
    ～待機中～
    <p>


</body>
</html>
